<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Ürün Ekle</h5>
            </div>

            <div class="card-body">
                <form [formGroup]="productAddForm">
                    <div class="mb-3">
                        <label for="productName" class="form-label">Ürün Adı</label>
                        <div class="form-group">
                            <input type="text" id="ProductName" formControlName="ProductName" class="form-control"
                                placeholder="Ürün Adı" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="categoryId" class="form-label">Kategori Adı</label>
                        <div class="form-group">
                            <input type="number" id="CategoryId" formControlName="CategoryId" class="form-control"
                                placeholder="Kategori" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="unitsInStock" class="form-label">Stok Adedi</label>
                        <div class="form-group">
                            <input type="number" id="UnitsInStock" formControlName="UnitsInStock" class="form-control"
                                placeholder="Stok Adedi" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="unitPrice" class="form-label">Ürün Fiyatı</label>
                        <div class="form-group">
                            <input type="number" id="UnitPrice" formControlName="UnitPrice" class="form-control"
                                placeholder="Ürün Fiyatı" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <button (click)="add()" class="btn btn-fill btn-primary">
                            Ekle
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>