<div *ngIf="dataloaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataloaded==true" class="table">
    <thead>
        <tr>
        <th>Product Id</th>
        <th>Ürün Adı</th>
        <th>Category Id</th>
        <th>Ürün Fiyatı</th>
        <th>Ürün Stok</th>
        </tr>
    </thead>
<tbody>
        <tr *ngFor="let product of products">
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.categoryId}}</td>
        <td>{{product.unitPrice}}</td>
        <td>{{product.unitsInStock}}</td>
    </tr>
</tbody>
</table>